/* --------------------------- MEDIA QUERIES---------------------------  */

@media (min-width: 600px) {
  :root {
    --font-size-p: 1.2rem;
    --font-size-h1: 2rem;
    --font-size-h2: 1.8rem;
    --font-size-h3: 1.6rem;
    --padding: 2rem;
  }
}

@media (max-width: 600px) {
  :root {
    --font-size-p: 1rem;
    --font-size-h1: 1.7rem;
    --font-size-h2: 1.4rem;
    --font-size-h3: 1.2rem;
    --padding: 1rem;
  }

  body {
    height: 100svh;
  }

  main {
    margin-top: 100px;
  }

  header {
    height: 100px;
    justify-content: space-between;
  }
  footer {
    justify-content: center;
    align-items: center;
  }

  .page {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    height: auto;
  }

  .header-logo img {
    height: 80px;
    margin-left: 20px;
  }
  /* ----------------- Navigation Styling ----------------- */
  .menu-toggle {
    display: block;
    font-size: 3rem;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 30px;
    background: transparent;
    border: none;
    color: var(--light);
    z-index: 1000;
  }

  .navigation {
    display: none;
    top: 100px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 998;
    /* transition: max-height 0.5s ease-out, opacity 0.1s ease-out; */
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
  }

  .navigation.open {
    display: flex;
    flex-direction: column;
    z-index: 999;
    max-height: 500px;
    opacity: 1;
    background: var(--midnight);
    position: fixed;
  }

  nav {
    top: 0;
    font-size: var(--font-size-h1);
    gap: 2rem;
  }

  .fa-bars,
  .fa-xmark {
    font-size: var(--font-size-h1);
    transition: opacity 0.3s ease-out;
    opacity: 1;
  }
  .about-me {
    flex-wrap: wrap;
  }
  .sticker {
    font-size: var(--font-size-h3);
  }
  .profile-img {
    display: block;
  }
  .profile-img-container {
    width: 17rem;
    height: 17rem;
  }

  .h1-background {
    justify-content: center;
    align-self: center;
    width: 80%;
  }

  .flip-card {
    position: relative;
    max-height: 500px;
    height: 90%;
    width: 85%;
    aspect-ratio: 5/8;
    perspective: 3200px;
    margin: 10px;
  }

  .flip-card__front-side {
    transform: rotateY(0deg);
    border-radius: 20px;
    box-shadow: white 0px 0px 10px 0px;
  }

  .flip-card__back-side {
    transform: rotateY(-180deg);
    justify-content: space-evenly;
  }
  .flip-card.is-flipped .flip-card__front-side {
    transform: rotateY(180deg);
  }

  .flip-card.is-flipped .flip-card__back-side {
    transform: rotateY(0deg);
  }
  .card-img-pe1,
  .card-img-sp1,
  .card-img-ccp {
    /* background: url("/img/pe1.jpg"); */
    background: linear-gradient(
      -135deg,
      var(--shades),
      var(--dark),
      var(--brighter)
    );
    /* display: none; */
  }

  /* .card-img-sp1 {
    background: url("/img/sp1.jpg");
  }

  .card-img-ccp {
    background: url("/img/ccp.jpg");
  } */

  .card-img-pe1,
  .card-img-sp1,
  .card-img-ccp {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
  }

  .flip-card__back-img {
    display: none;
  }
  .flip-card-text-container {
    width: 100%;
    justify-content: center;
  }

  .form-container {
    margin: 20px auto;
  }

  .form-button {
    width: 70%;
  }

  .form-button:hover {
    width: 80%;
  }
}
