/* --------------------------- UI ---------------------------  */

/* ----------------- HEADER / FOOTER----------------- */

.footer-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  gap: 2rem;
}

.footer-content i {
  font-size: var(--font-size-h1);
  transition: all 1s ease-in-out;
}

.footer-content i:hover {
  color: var(--shades);
  cursor: pointer;
  transform: rotate(-360deg);
  scale: 1.2;
}

.main-nav {
  z-index: 999;
}

.header-logo {
  z-index: 999;
}

.header-logo img {
  height: 100px;
  width: auto;
  border-radius: 20px;
}
/* ----------------- Navigation Styling ----------------- */

.navigation,
.navigation ul,
.navigation li {
  list-style: none;
  font-weight: 800;
}

.navigation a {
  /* text-decoration: none; */
  color: var(--light);
  padding: 10px;
  display: block;
  transition: all 1s ease;
}

.navigation a:hover,
.navigation a:focus {
  color: var(--shades);
}

.navigation a.active {
  text-decoration: line-through;
  color: var(--shades);
  font-weight: 600 !important;
}

.menu-toggle {
  display: none;
}

.page {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color: var(--light);
  background: linear-gradient(
    65deg,
    var(--shades),
    var(--dark),
    var(--brighter)
  );
  opacity: 0.9;
  transition: opacity 0.5s ease-in-out;
  overflow: hidden;
}

/* -------------- ABOUT ME------------------ */

.profile-img-container {
  width: 20rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
}

.profile-img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}

.text-container {
  max-width: 50rem;
  padding: 2rem;
  align-items: end;
}

.sticker {
  font-size: var(--font-size-h1);
}

/* ------------- FLIP-CARD ------------------- */
.flip-card {
  position: relative;
  max-width: 1200px;
  width: 100%;
  aspect-ratio: 8/5;
  perspective: 3200px;
  margin: 10px;
  object-fit: cover;
}

.flip-card__front-side,
.flip-card__back-side {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 4px 8px 40px 6px rgba(255, 255, 255, 0.09);
  transition: transform 1.5s ease-in-out;
  backface-visibility: hidden;
  overflow: hidden;
}

.flip-card__front-side {
  transform: rotateX(0deg);
  align-items: end;
}

.flip-card__back-side {
  transform: rotateX(-180deg);
  justify-content: space-evenly;
  background: var(--midnight);
}
.flip-card.is-flipped .flip-card__front-side {
  transform: rotateX(180deg);
}

.flip-card.is-flipped .flip-card__back-side {
  transform: rotateX(0deg);
}

.card-img-pe1 {
  background: url("/img/pe1_desktop.jpg");
}

.pe1 {
  background: url("/img/pe1.jpg");
}

.card-img-sp1 {
  background: url("/img/sp1_desktop.jpg");
}
.sp1 {
  background: url("/img/sp1.jpg");
}

.card-img-ccp {
  background: url("/img/ccp_desktop.jpg");
}
.cross-course {
  background: url("/img/cross-course.jpg");
}

.card-img-pe1,
.card-img-sp1,
.card-img-ccp,
.flip-card__front-side,
.pe1,
.sp1,
.cross-course {
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
}

.flip-card__back-img {
  position: relative;
  bottom: -150px;
  border-radius: 55px 55px 0;
}

.h1-background {
  background-color: rgba(0, 0, 0, 0.95);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  letter-spacing: 2px;
  width: 100%;
  margin-bottom: 0;
}
.flip-card-text-container {
  padding: 2rem;
  justify-content: end;
  align-items: start;
  height: 100%;
  width: 50%;
}

.flip-card__back-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  gap: 2rem;
}

.flip-card-text-container a {
  color: var(--light);
}

.flip-card-text-container a:hover {
  color: var(--shades);
}

i {
  font-size: var(--font-size-h3);
  color: var(--light);
  display: block;
}

/* ---------BUTTON----------- */
/* Card Button */
.card-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-transform: uppercase;
  font-weight: var(--font-weight-700);
  background-color: var(--light);
  text-align: center;
  transition: all 0.5s;
}

.card-button i {
  color: var(--midnight);
  transition: transform 1s ease-in-out;
  text-align: center;
}

.card-button:hover i {
  transform: rotate(270deg);
}

.card-button:active i {
  color: var(--shades);
}

/* Back To Top Button */
.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 50px;
  display: none;
  color: var(--light);
  z-index: 1000;
  font-size: 1.8em;
  transition: all 1s ease-in-out;
}

.back-to-top i:hover {
  color: var(--shades);
  cursor: pointer;
  transform: rotate(-360deg);
}

/* ----------------- CONTACT-FORM ----------------- */
.form-container {
  max-width: 600px;
  width: 100%;
  margin-bottom: 250px;
  padding: var(--padding);
  background-color: transparent;
  color: var(--primary);
}

form div {
  margin: 10px;
}

input,
textarea {
  background-color: var(--dark);
  color: var(--light);
  border: 2px solid var(--brighter);
  border-radius: 10px;
  display: block;
  font-size: var(--font-size-p);
  padding: var(--padding);
  width: 100%;
  cursor: text;

  &:hover {
    transform: scale(1.01);
    will-change: transform;
  }
}

input:required {
  border-left: 0.3em solid var(--brighter);
  border-right: 0.3em solid var(--brighter);
}

input:focus,
textarea:focus {
  border-color: var(--button);
  outline: none;
  box-shadow: 0 0 5px var(--brighter);
}

.form-error {
  display: none;
  color: var(--alert);
  font-size: 0.8rem;
  margin-top: 3px;
  padding: 0.2rem;
  border-radius: 5px;
}

.val_error {
  color: var(--alert);
}

.form-button {
  font-size: var(--font-size-h3);
  background-color: var(--light);
  color: var(--black);
  border-radius: 10px;
  padding: var(--padding);
  font-variant: small-caps;
  margin: 10px auto;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  width: 30%;
  transition: all 0.5s ease-in-out;
}

.form-button:hover {
  background: linear-gradient(
    -135deg,
    var(--shades),
    var(--dark),
    var(--brighter)
  );
  color: var(--light);
  width: 50%;
  transform: 1s ease-in-out;
  border: none;
}
